<div class="row">
  <div class="col-12">
    <div class="mt-11">
      <h1 class="text-center text-gradient text-primary">
        Job Calendar
      </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12" *ngIf="isBrowser">
    <full-calendar [options]="calendarOptions" class="calendar">
      <ng-template #eventContent let-arg class="event">
        <b class="text-white text-bold">{{arg.timeText}}</b>
        <i class="text-white text-bold">{{arg.event.title}}</i>
      </ng-template>
    </full-calendar>
  </div>
</div>
