 <div class="container-fluid">
    <div class="row mt-11 mb-11">
      <div class="col-12 col-md-5">

        <div class="card">
          <img class="card-img-top" src="./assets/img/user-images/{{user?.imageUrl}}">
          <div class="position-relative" style="height: 50px;overflow: hidden;margin-top: -50px;z-index:2;position: relative;">
            <div class="position-absolute w-100 top-0" style="z-index: 1;">
              <svg class="waves waves-sm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                  <path id="card-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
                </defs>
                <g class="moving-waves">
                  <use xlink:href="#card-wave" x="48" y="-1" fill="rgba(255,255,255,0.30"></use>
                  <use xlink:href="#card-wave" x="48" y="3" fill="rgba(255,255,255,0.35)"></use>
                  <use xlink:href="#card-wave" x="48" y="5" fill="rgba(255,255,255,0.25)"></use>
                  <use xlink:href="#card-wave" x="48" y="8" fill="rgba(255,255,255,0.20)"></use>
                  <use xlink:href="#card-wave" x="48" y="13" fill="rgba(255,255,255,0.15)"></use>
                  <use xlink:href="#card-wave" x="48" y="16" fill="rgba(255,255,255,0.99)"></use>
                </g>
              </svg>
            </div>
          </div>
          <div class="card-body">
            <h3 class="text-gradient text-info ubuntu-bold">{{user?.firstName}} {{user?.middleName}} {{user?.lastName}}</h3>
            <p class="text-gradient text-primary ubuntu-bold">Date Of Birth: {{user?.dob | date:'short'}}</p>
            <p class="text-gradient text-primary ubuntu-bold">UserName: {{user?.userName}}</p>
            <p class="text-gradient text-primary ubuntu-bold">Email: {{user?.email}}</p>
            <p class="text-gradient text-primary ubuntu-bold">Hire Date: {{user?.hireDate | date:'short'}}</p>
            <p class="text-gradient text-primary ubuntu-bold">Phone Number: {{user?.phoneNumber}}</p>
            <p class="text-gradient text-primary ubuntu-bold">Is Active: {{user?.isActive}}</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-7">
        <div class="row">
          <div class="col-12">
            <div class="card shadow-lg bg-gradient-dark">
              <div class="card-header bg-gradient-dark">
                <h3 class="text-gradient text-primary ubuntu-bold">Campaign User Tasks</h3>
              </div>
              <div class="card-body bg-gradient-dark p-3">
                <table class="table table-hover table-striped table-borderless">
                  <thead>
                  <tr class="text-center">
                    <th class="text-gradient text-primary ubuntu-bold">Task Username</th>
                    <th class="text-gradient text-primary ubuntu-bold">Campaign Name</th>
                    <th class="text-gradient text-primary ubuntu-bold">Task Title</th>
                    <th class="text-gradient text-primary ubuntu-bold">Task Due Date</th>
                    <th class="text-gradient text-primary ubuntu-bold">Task Priority</th>
                    <th class="text-gradient text-primary ubuntu-bold">Task Status</th>
                    <th class="text-gradient text-primary ubuntu-bold">Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="text-center" *ngFor="let tasks of user.campaignUserTasks">
                    <td class="text-white ubuntu text-sm">{{user.userName}}</td>
                    <td class="text-white ubuntu text-sm">{{tasks.campaign?.title.slice(0,10)}}</td>
                    <td class="text-white ubuntu text-sm">{{tasks.task?.title}}</td>
                    <td class="text-white ubuntu text-sm">{{tasks.task?.dueDate|date:'MM/dd/YYYY'}}</td>
                    <td class="text-white ubuntu text-sm">{{tasks.task?.priority}}</td>
                    <td class="text-white ubuntu text-sm">{{tasks.task?.status}}</td>
                    <td class="text-sm">
                      <a [routerLink]="['/dashboard/campaign-user-tasks/view-campaign-user-task', tasks.campaignUserTaskId]" class="m-3 btn-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="View {{tasks.task.title}}" data-container="body" data-animation="true"><i class="fa-solid fa-list text-gradient text-info"></i></a>
                      <a [routerLink]="['/dashboard/campaign-user-tasks/update-campaign-user-task', tasks.campaignUserTaskId]" class="m-3 btn-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit {{tasks.task.title}}" data-container="body" data-animation="true"><i class="fa-regular fa-pen-to-square text-gradient text-primary"></i></a>
                      <a [routerLink]="['/dashboard/campaign-user-tasks/delete-campaign-user-task', tasks.campaignUserTaskId]" class="m-3 btn-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete {{tasks.task.title}}" data-container="body" data-animation="true"><i class="fa-regular fa-trash-can text-gradient text-danger"></i></a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <div class="card shadow-lg bg-gradient-dark">
              <div class="card-header bg-gradient-dark">
                <h3 class="text-gradient text-primary ubuntu-bold">Job User Tasks</h3>
              </div>
              <div class="card-body bg-gradient-dark p-3">
                <div *ngIf="user.jobUserTasks.length > 0; else noContent">
                <table class="table table-hover table-striped table-borderless">
                  <thead>
                  <tr class="text-center">
                    <th class="text-gradient text-primary ubuntu-bold">Task Username</th>
                    <th class="text-gradient text-primary ubuntu-bold">Job Title</th>
                    <th class="text-gradient text-primary ubuntu-bold">Task Title</th>
                    <th class="text-gradient text-primary ubuntu-bold">Job Start Date</th>
                    <th class="text-gradient text-primary ubuntu-bold">Task Due Date</th>
                    <th class="text-gradient text-primary ubuntu-bold">Task Priority</th>
                    <th class="text-gradient text-primary ubuntu-bold">Task Status</th>
                    <th class="text-gradient text-primary ubuntu-bold">Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="text-center" *ngFor="let job of user.jobUserTasks">
                    <td class="text-white ubuntu text-sm">{{user.userName}}</td>
                    <td class="text-white ubuntu text-sm">{{job.job.jobTitle}}</td>
                    <td class="text-white ubuntu text-sm">{{job.task.title}}</td>
                    <td class="text-white ubuntu text-sm">{{job.job.startDate|date:'MM/dd/YYYY'}}</td>
                    <td class="text-white ubuntu text-sm">{{job.task.dueDate|date:'MM/dd/YYYY'}}</td>
                    <td class="text-white ubuntu text-sm">{{job.task.priority}}</td>
                    <td class="text-white ubuntu text-sm">{{job.task.status}}</td>
                    <td class="text-sm">
                      <a [routerLink]="['/dashboard/job-user-tasks/view-job-user-task', job.jobUserTaskId]" class="m-3 btn-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="View {{job.task.title}}" data-container="body" data-animation="true"><i class="fa-solid fa-list text-gradient text-info"></i></a>
                      <a [routerLink]="['/dashboard/job-user-tasks/update-job-user-task', job.jobUserTaskId]" class="m-3 btn-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit {{job.task.title}}" data-container="body" data-animation="true"><i class="fa-regular fa-pen-to-square text-gradient text-primary"></i></a>
                      <a [routerLink]="['/dashboard/job-user-tasks/delete-job-user-task', job.jobUserTaskId]" class="m-3 btn-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete {{job.task.title}}" data-container="body" data-animation="true"><i class="fa-regular fa-trash-can text-gradient text-danger"></i></a>
                    </td>
                  </tr>
                  </tbody>
                </table>
                </div>
                <ng-template #noContent>
                  <tr>
                    <td class="text-white ubuntu text-sm">There is no content for Job Tasks right now.</td>
                  </tr>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
