<section>
  <div class="page-header min-vh-100">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
          <div class="card bg-gradient-dark">
            <div class="card-header bg-gradient-dark pb-0 text-left">
              <h4 class="font-weight-bolder text-gradient text-primary">Sign In</h4>
              <p class="mb-0">Enter your email and password to sign in</p>
              <div *ngIf="errorMessage" class="row error-message">
                <div class="col-12">
                  <div class="alert alert-danger" role="alert">
                    <p class="ubuntu-bold text-white">
                      {{ errorMessage }}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form>
                <div class="form-group">
                  <label for="email" class="text-gradient text-primary ubuntu-bold">Email</label>
                  <div class="mb-3">
                    <input type="text" id="email" formControlName="email" class="form-control form-control-lg color-background bg-gradient-dark" autocomplete="false" placeholder="Email" aria-label="Email" style="background-color: #232326 !important">
                  </div>
                </div>
                <div class="form-group">
                  <label for="passwordHash">Password</label>
                  <div class="mb-3">
                    <input type="password" id="passwordHash" formControlName="passwordHash" class="form-control form-control-lg color-background bg-gradient-dark" autocomplete="false" placeholder="Password" aria-label="Password">
                    <button
                      type="button"
                      (click)="togglePasswordVisibility()"
                      class="toggle-password-button">
                      <i [ngClass]="isPasswordVisible ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'" ></i>
                    </button>
                  </div>
                </div>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="rememberMe" [(ngModel)]="rememberMe" name="rememberMe">
                  <label for="rememberMe" class="form-check-label text-gradient text-primary">Remember me</label>
                </div>
                <div class="text-center">
                  <button type="submit" class="custom-btn btn-4 button"><span>Sign in</span></button>
                </div>
              </form>
            </div>
            <div class="card-footer text-center pt-0 px-lg-2 px-1">
              <p class="mb-4 text-sm mx-auto">
                Don't have an account?
                <a routerLink="register" class="text-primary text-gradient font-weight-bold">Sign up</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
          <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center">
            <img src="assets/img/shapes/pattern-lines.svg" alt="pattern-lines" class="position-absolute opacity-4 start-0">
            <div class="position-relative">
              <img class="max-width-500 w-100 position-relative z-index-2" src="assets/img/illustrations/chat.png" alt="image">
            </div>
            <h4 class="mt-5 text-white font-weight-bolder">"Attention is the new currency"</h4>
            <p class="text-white">The more effortless the writing looks, the more effort the writer actually put into the process.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
