<div class="container-fluid" *ngIf="showCustomerList()">
  <div class="row">
    <div class="col-12">
      <div class="mt-11">
        <h1 class="text-center text-gradient text-primary">
          Customer List
        </h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-3">

    </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 offset-md-3 offset-lg-3 mx-auto">
          <app-customer-search></app-customer-search>
        </div>
      </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 mx-auto">
        <app-customer-list></app-customer-list>
      </div>
    </div>
    </div>
  </div>
<div class="container-fluid" *ngIf="showCustomerCreate()">
  <app-customer-create></app-customer-create>
</div>
