<!-- Navbar -->
<div class="container position-sticky z-index-sticky top-0">
  <div class="row">
    <div class="col-12">
      <nav
        class="navbar navbar-expand-lg bg-gradient-dark navbar-dark  blur blur-rounded top-0  z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
        <div class="container-fluid px-0">
          <a class="navbar-brand font-weight-bolder ms-sm-3 text-white" href="" rel="tooltip"
             title="Created By Kevin Stradtman" data-placement="bottom">
            Universal CRM <img src="assets/img/logo.png" height="50" width="50"/>
          </a>

          <button class="navbar-toggler shadow-none ms-md-2" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
                  aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
          </button>
              <div class="nav">
                <div class="collapse navbar-collapse" id="navigation">
                  <div class="d-flex justify-content-start gap-2">
                    <div class="dropdown m-3">
                      <a class="btn bg-gradient-primary dropdown-toggle" id="dropdownAccountA"
                         data-bs-toggle="dropdown" aria-expanded="false">
                        Account
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="dropdownAccountA">
                        <li><a class="dropdown-item" routerLink="register-page" *ngIf="!isAuthenticated">Register</a></li>
                        <li><a class="dropdown-item" routerLink="login-page" *ngIf="!isAuthenticated">Login</a></li>
                        <li><a class="dropdown-item" (click)="logout()" *ngIf="isAuthenticated">Logout</a></li>
                      </ul>
                    </div>
                  <div class="dropdown m-3">
                    <a class="btn bg-gradient-primary dropdown-toggle" id="dropdownServices"
                       data-bs-toggle="dropdown" aria-expanded="false">
                      Services
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownServices">
                      <li><a class="dropdown-item" routerLink="">Home</a></li>
                      <li><a class="dropdown-item" routerLink="/about">About</a></li>
                      <li><a class="dropdown-item" routerLink="/contact">Contact</a></li>
                      <li><a class="dropdown-item" routerLink="/terms">Terms and Conditions</a></li>
                      <li><a class="dropdown-item" routerLink="/privacy">Privacy Policy</a></li>
                      <li><a class="dropdown-item" routerLink="/faq">FAQ</a></li>
                    </ul>
                  </div>

                  <div class="dropdown m-3" *ngIf="isAuthenticated">
                    <a class="btn bg-gradient-primary dropdown-toggle" id="dropdownDashboard"
                       data-bs-toggle="dropdown" aria-expanded="false">
                      Dashboard
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownDashboard">
                      <li><a class="dropdown-item" routerLink="/dashboard/dashboard-main">Home</a></li>
                    </ul>
                  </div>
                    </div>
              </div>
              </div>
            </div>

      </nav>
      <!-- End Navbar -->
    </div>
  </div>
</div>
