<div class="container-fluid" *ngIf="showCampaigns()">
  <app-campaigns></app-campaigns>
</div>
<div class="container-fluid" *ngIf="showContacts()">
  <app-contacts></app-contacts>
</div>
<div class="container-fluid" *ngIf="showCustomers()">
  <app-customers></app-customers>
</div>
<div class="container-fluid" *ngIf="showJobs()">
  <app-jobs></app-jobs>
</div>
<div class="container-fluid" *ngIf="showLeads()">
  <app-leads></app-leads>
</div>
<div class="container-fluid" *ngIf="showNotes()">
  <app-notes></app-notes>
</div>
<div class="container-fluid" *ngIf="showOrders()">
  <app-orders></app-orders>
</div>
<div class="container-fluid" *ngIf="showProducts()">
  <app-products></app-products>
</div>
<div class="container-fluid" *ngIf="showTasks()">
  <app-tasks></app-tasks>
</div>
<div class="container-fluid" *ngIf="showUsers()">
  <app-users></app-users>
</div>
<div class="container-fluid" *ngIf="showDashboardMain()">
  <app-dashboard-main></app-dashboard-main>
</div>
