<div class="container-fluid">
<div class="row">
  <div class="col-12 mt-3">
    <div class="card shadow-lg bg-gradient-dark">
      <div class="card-header bg-gradient-dark">
        <h1 class="text-gradient text-primary ubuntu-bold">
          Customers
        </h1>
        <a routerLink="/dashboard/customers/customer-create" class="btn bg-gradient-info">Create A Customer</a>
      </div>
      <div class="card-body mt-5 mb-5 mx-auto p-3">
        <table class="table table-borderless table-hover table-striped t">
          <thead>
          <tr class="text-center">
            <th class="text-gradient text-primary text-sm">ID</th>
            <th class="text-gradient text-primary text-sm">Type</th>
            <th class="text-gradient text-primary text-sm">Name</th>
            <th class="text-gradient text-primary text-sm">Email</th>
            <th class="text-gradient text-primary text-sm">Phone</th>
            <th class="text-gradient text-primary text-sm">Status</th>
            <th class="text-gradient text-primary text-sm">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let customer of customers" class="text-center">
            <td class="text-white ubuntu-bold text-sm">{{ customer.customerId }}</td>
            <td class="text-white ubuntu-bold text-sm">{{ customer.customerType }}</td>
            <td class="text-white ubuntu-bold text-sm">{{ customer.name }}</td>
            <td class="text-white ubuntu-bold text-sm">{{ customer.email }}</td>
            <td class="text-white ubuntu-bold text-sm">{{ customer.phone }}</td>
            <td class="text-white ubuntu-bold text-sm">{{ customer.status }}</td>
            <td colspan="5">
              <a class="btn-tooltip" [routerLink]="['/dashboard/customer-details', customer.customerId]" data-bs-toggle="tooltip" data-bs-placement="top" title="View {{customer.name}}" data-container="body" data-animation="true"><i class="fa-solid fa-list text-gradient text-info"></i></a>
              <a class="btn-tooltip" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit {{customer.name}}" data-container="body" data-animation="true"><i class="fa-regular fa-pen-to-square text-gradient text-primary"></i></a>
              <a class="btn-tooltip" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete {{customer.name}}" data-container="body" data-animation="true"><i class="fa-regular fa-trash-can text-gradient text-danger"></i></a>
            </td>
          </tr>
          </tbody>
        </table>

        <!-- Show message if there are no customers -->
<!--        <div *ngIf="customers.length === 0" class="alert alert-info">-->
<!--          No customers found.-->
<!--        </div>-->
      </div>
    </div>
  </div>
</div>
</div>
