<div class="container-fluid">
<div class="row">
      <div class="col-12 col-md-12 mt-3">
        <div class="card shadow-lg bg-gradient-dark">
          <div>
            <div class="card-header bg-gradient-dark">
              <h1 class="text-gradient text-primary ubuntu-bold">
                Products
              </h1>
              <a routerLink="/dashboard/products/product-create" class="btn bg-gradient-info">Create A Product</a>
            </div>
            <div class="card-body p-3">
              <table class="table table-hover table-borderless table-striped">
                <thead>
                <tr class="text-center">
                  <th class="text-gradient text-primary text-sm">ID</th>
                  <th class="text-gradient text-primary text-sm">Name</th>
                  <th class="text-gradient text-primary text-sm">UPC</th>
                  <th class="text-gradient text-primary text-sm">Price</th>
                  <th class="text-gradient text-primary text-sm">Quantity</th>
                  <th class="text-gradient text-primary text-sm">Active</th>
                  <th class="text-gradient text-primary text-sm">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let product of products" class="text-center">
                  <td class="text-white ubuntu text-sm">{{product.productId}}</td>
                  <td class="text-white ubuntu text-sm">{{product.name.slice(0, 10)}}</td>
                  <td class="text-white ubuntu text-sm">{{product.upc}}</td>
                  <td class="text-white ubuntu text-sm">{{product.price | currency: product.currency}}</td>
                  <td class="text-white ubuntu text-sm">{{product.quantityInStock}}</td>
                  <td class="text-white ubuntu text-sm">{{product.isActive}}</td>
                  <td class="text-white ubuntu text-sm">
                    <a [routerLink]="['/dashboard/product-details', product.productId]" data-bs-toggle="tooltip" data-bs-placement="top" title="View Product" data-container="body" data-animation="true" class="m-3"><i class="fa-solid fa-list text-gradient text-info"></i></a>
                    <a href="#" class="m-3"><i class="fa-regular fa-pen-to-square text-gradient text-primary"></i></a>
                    <a href="#" class="m-3"><i class="fa-regular fa-trash-can text-gradient text-danger"></i></a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
