/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body {
  font-family: 'Ubuntu', sans-serif !important;
  background-color: #444444 !important;
  overflow-x: hidden;
}

.ubuntu {
  font-family: "Ubuntu", sans-serif;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}
.custom-btn {
  height: 50px;
  color: #fff;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  margin: 5% auto;
  box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}
.button {
  margin: 20px;
}
.btn-4 {
  background: linear-gradient(0deg, rgb(10,250,10) 0%, rgb(0,250,0) 100%);
  width: 50% !important;
  margin: 0 auto;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
}

.btn-4 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  color: whitesmoke;
}

.btn-4:before,
.btn-4:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: rgb(50,200,50);
  transition: all 0.3s ease;
}

.btn-4:before {
  height: 0%;
  width: 2px;
}

.btn-4:after {
  width: 0%;
  height: 2px;
}

.btn-4:hover {
  background: transparent;
  box-shadow: none;
}

.btn-4:hover:before {
  height: 100%;
}

.btn-4:hover:after {
  width: 100%;
}

.btn-4 span:hover {
  color: rgb(50,200,50);
}

.btn-4 span:before,
.btn-4 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: rgb(50,200,50);
  transition: all 0.3s ease;
}

.btn-4 span:before {
  width: 2px;
  height: 0%;
}

.btn-4 span:after {
  width: 0%;
  height: 2px;
}

.btn-4 span:hover:before {
  height: 100%;
}

.btn-4 span:hover:after {
  width: 100%;
}
.card {
  width: 100% !important;
  height: auto !important;
  padding: 20px !important;
}
.btn-4 > span {
  text-shadow: 3px 3px 4px #000;
}
/*btn-5*/
.btn-5 {
  background: linear-gradient(0deg, rgb(10,10,250) 0%, rgb(100,10,250) 100%);
  width: 100% !important;
  margin: 0 auto;
  height: 40px;
  line-height: 42px;
  padding: 10px;
  border: none;
}

.btn-5 span {
  position: relative;

  display: block;
  width: 100%;
  height: 100%;
  color: whitesmoke;
}

.btn-5:before,
.btn-5:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: rgb(50,50,200);
  transition: all 0.3s ease;

}

.btn-5:before {
  height: 0%;
  width: 2px;

}

.btn-5:after {
  width: 0%;
  height: 2px;

}

.btn-5:hover {
  background: transparent;
  box-shadow: none;

}

.btn-5:hover:before {
  height: 100%;
}

.btn-5:hover:after {
  width: 100%;
}

.btn-5 span:hover {
  color: rgb(50,50,200);
}

.btn-5 span:before,
.btn-5 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: rgb(50,50,200);
  transition: all 0.3s ease;
}

.btn-5 span:before {
  width: 2px;
  height: 0%;
}

.btn-5 span:after {
  width: 0%;
  height: 2px;
}

.btn-5 span:hover:before {
  height: 100%;
}

.btn-5 span:hover:after {
  width: 100%;
}

.btn-5 > span {
  text-shadow: 3px 3px 4px #000;
}
.fc-daygrid-day-number {
  color: white !important;
}
.fc-toolbar-title {
  color: dodgerblue !important;
}
td > a >.fa-solid.fa-list,
td > a >.fa-regular.fa-pen-to-square,
td > a >.fa-regular.fa-trash-can {
  font-size: 14px !important;
}
