<div class="row">
  <div class="col-12">
    <div class="card shadow-lg p-3 bg-gradient-dark">
      <div class="card-header bg-gradient-dark text-gradient text-primary">
        <h3 class="ubuntu-bold">Update User</h3>
      </div>
      <div class="card-body p-3">
        <form [formGroup]="userDetailForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-12 col-md-3">
              <div class="form-group">
                <label for="imageUrl" class="ubuntu-bold text-gradient text-primary">Image URL</label>
                <input type="text" id="imageUrl" formControlName="imageUrl" class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu-bold">
              </div>
            </div>
            <div class="col-12 col-md-3">
              <div class="form-group">
                <label for="email" class="ubuntu-bold text-gradient text-primary">Email</label>
                <input type="text" id="email" formControlName="email" class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu-bold">
              </div>
            </div>
            <div class="col-12 col-md-3">
              <div class="form-group">
                <label for="phoneNumber" class="ubuntu-bold text-gradient text-primary">Phone Number</label>
                <input type="text" id="phoneNumber" formControlName="phoneNumber" class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu-bold">
              </div>
            </div>
            <div class="col-12 col-md-3">
              <div class="form-check">
                <label for="phoneNumber" class="ubuntu-bold text-gradient text-primary form-check-label">Is Active</label>
                <input type="checkbox" id="isActive" formControlName="isActive" class="form-check-input color-background bg-gradient-dark">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="dob" class="ubuntu-bold text-gradient text-primary">DOB</label>
                <input type="datetime-local" id="dob" formControlName="dob" class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu-bold">
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="hireDate" class="ubuntu-bold text-gradient text-primary">Hire Date</label>
                <input type="datetime-local" id="hireDate" formControlName="hireDate" class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu-bold">
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="userName" class="ubuntu-bold text-gradient text-primary">UserName</label>
                <input type="text" id="userName" formControlName="userName"  class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu-bold">
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4">
              <label for="password" class="text-gradient text-primary">Password</label>
              <div class="mb-3 clearfix">
                <input type="{{isPasswordVisiblePassword ? 'text' : 'password'}}" id="password" formControlName="password" autocomplete="false" class="form-control form-control-lg color-background bg-gradient-dark ubuntu-bold text-white"  placeholder="Password" aria-label="Password">
                <a
                  (click)="togglePasswordVisibilityPassword()"
                  class="check-password"
                  [ngClass]="isPasswordVisiblePassword ? 'text-gradient text-success' : 'text-gradient text-danger'">
                  <i [ngClass]="isPasswordVisiblePassword ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash' " ></i>
                </a>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4">
              <div class="form-group">
                <label for="confirmPassword" class="text-gradient text-primary">Confirm Password</label>
                <div class="mb-3 ">
                  <input type="{{isPasswordVisibleConfirmPassword ? 'text' : 'password'}}" formControlName="confirmPassword" id="confirmPassword" autocomplete="false" class="form-control form-control-lg color-background bg-gradient-dark ubuntu-bold text-white inline" placeholder="Confirm Password" aria-label="Confirm Password">
                  <a
                    (click)="togglePasswordVisibilityConfirmPassword()"
                    class="check-password"
                    [ngClass]="isPasswordVisibleConfirmPassword ? 'text-gradient text-success' : 'text-gradient text-danger'">
                    <i [ngClass]="isPasswordVisibleConfirmPassword ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash' " ></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-12 col-md-4">
              <div class="form-group">
                <label for="firstName" class="ubuntu-bold text-gradient text-primary">First Name</label>
                <input type="text" formControlName="firstName" id="firstName" class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu-bold">
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4">
              <div class="form-group">
                <label for="middleName" class="ubuntu-bold text-gradient text-primary">Middle Name</label>
                <input type="text" formControlName="middleName" id="middleName" value="{{user.middleName}}" class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu-bold">
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4">
              <div class="form-group">
                <label for="lastName" class="ubuntu-bold text-gradient text-primary">Last Name</label>
                <input type="text" formControlName="lastName" id="lastName" [value]="user?.lastName" class="form-control form-control-lg color-background bg-gradient-dark text-white ubuntu-bold">
              </div>
            </div>
          </div>
          <button type="submit" [disabled]="userDetailForm.invalid" class="btn bg-gradient-primary">Add Job</button>
        </form>
      </div>
    </div>
  </div>
</div>

